    
    
    
    
*{box-sizing: border-box}



.name {
    font-size: larger;
    padding: 30px 0;
    width: 600px;
    height: 600px;
}

.header {
    font-family: static;
    font-size: 110px;
    color: #2EC9EC;
}

.text1 {
    font-size: 20px;
    text-align: center;
}

.subTxt {
    margin: auto;
    padding: auto;
    border: 1px solid  rgb(255, 239, 239);
    background-color: rgb(255, 239, 239);
    border-radius: 6px;
}